#vhod{
	text-align: right;
	font-size: 20px;
  }
  body{
	  background-color: #8F8A91;
  }
  
  #main-aside-wrapper {
	  background-color: #8F8A91;
	}
	
	
	#cont {
		padding: 15px;
		text-align: center;
	  background-color: #FFEFFD;
	  width: 60rem;
	}
	
	
	p {
	  font-size: 20px;
	  font-weight: bold;
	}
	
	footer{
		background-color: #8F8A91;
		height: 20px;
	}